<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                        <h6>The list of accepted papers will be posted here before the workshop; stay tuned.</h6>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
