<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                        <h6>The following is a list of accepted paper contributions for the workshop. Each paper will be presented by a short pitch (3 minutes) and a poster.</h6>
                        <ol>
                            <li>Ben Burgess-Limerick, Chris Lehnert, Jurgen Leitner, and Peter Corke, <em>Enabling Failure Recovery for On-The-Move Mobile Manipulation</em> <a href="{{ site.baseurl }}/papers/RobotFailuresICRA2023_paper_1.pdf">[paper]</a></li>
                            <li>Suet Lee and Sabine Hauert, <em>Fault Mitigation in a Robot Swarm Using Neuroevolution</em> <a href="{{ site.baseurl }}/papers/RobotFailuresICRA2023_paper_2.pdf">[paper]</a></li>
                            <li>Furkan Kaynar, Kevin Rexhepi, and Eckehard Steinbach, <em>Introspective Overconfidence Prediction of 6-DOF Robotic Grasp Estimators via Multimodal Feature Fusion</em> <a href="{{ site.baseurl }}/papers/RobotFailuresICRA2023_paper_3.pdf">[paper]</a></li>
                            <li>Tim Bohne and Benjamin Kisliuk, <em>Execution Monitoring for Long-Term Autonomous Mobile Robots in Outdoor Scenarios</em></li>
                            <li>Charles Clark and Biyun Xie, <em>Predicting Fault-Tolerant Workspace of Planar 3R Robots Experiencing Locked Joint Failures Using Mixture Density Networks</em> <a href="{{ site.baseurl }}/papers/RobotFailuresICRA2023_paper_5.pdf">[paper]</a></li>
                            <li>Alex LaGrassa, Moonyoung Lee, and Oliver Kroemer, <em>Data Collection for Model-Based Manipulation for Real-World Plant Watering with Inaccurate Models</em></li>
                            <li>Xiaohan Zhang, Yan Ding, Saeid Amiri, Hao Yang, Andy Kaminski, Chad Esselink, and Shiqi Zhang, <em>Grounding Classical Task Planners via Vision-Language Models</em> <a href="{{ site.baseurl }}/papers/RobotFailuresICRA2023_paper_8.pdf">[paper]</a></li>
                            <li>Jaimie Carlson and Andreas Kolling, <em>Selective Placement of Visual Fiducials for Localization Tasks</em></li>
                            <li>Aayush Jain, Philip Long, John D. Kelleher, and Maria Chiara Leva, <em>A Neuro-Symbolic Approach to Model Task Execution for Online Failure Detection</em></li>
                            <li>Arda Inceoglu, Eren Erdal Aksoy, and Sanem Sariel, <em>Towards Detecting and Identifying Tabletop Manipulation Failures</em> <a href="https://arxiv.org/pdf/2305.04639.pdf" target="_blank">[paper]</a></li>
                            <li>Francesco Del Duchetto, Ayse Kucukyilmaz, and Marc Hanheide, <em>In-the-Wild Failures in a Long-Term HRI Deployment</em> <a href="{{ site.baseurl }}/papers/RobotFailuresICRA2023_paper_13.pdf">[paper]</a></li>
                        </ol>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
