<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                        <h6>The call for papers is not open yet; it will only be announced if the workshop proposal is accepted.</h6>

                        <h3>Important dates</h3>
                        <ul>
                            <li><b>Submission deadline:</b> April XX, 2023, 11:59 p.m. (AOE)</li>
                            <li><b>Notifications to authors:</b> May XX, 2023</li>
                            <li><b>Deadline for submitting final versions:</b> May XX, 2023, 11:59 p.m. (AOE)</li>
                            <li><b>Workshop day:</b> May XX, 2023</li>
                        </ul>

                        <h3>Topics of interest</h3>
                        <ul>
                            <li>Robot failure modelling approaches</li>
                            <li>Techniques for robot execution monitoring, avoidance, and recovery</li>
                            <li>Approaches for robot fault diagnosis</li>
                            <li>Learning causal relations for understanding execution decisions</li>
                            <li>Failure-aware learning</li>
                            <li>Failure explainability</li>
                        </ul>

                        <h3>Submission information</h3>

                        Submissions to the workshop can be either short papers (4 pages) or conference-length papers (6 pages). Submissions describing work in progress that authors would like to discuss with the workshop participants are encouraged and welcome. The workshop does not have official proceedings, but the submitted papers will be posted on the workshop website if the authors agree.

                        Each submitted paper will receive at least two reviews, based on which an acceptance decision will be made. Papers should be submitted via EasyChair. Please note that email submissions will not be accepted.
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
