<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                        <h6>The call for papers is not open yet; it will only be announced if the workshop proposal is accepted.</h6>

                        <h4>Important dates</h4>
                        <ul>
                            <li><b>Submission deadline:</b> March XX, 2023, 11:59 p.m. (AOE)</li>
                            <li><b>Notifications to authors:</b> April XX, 2023</li>
                            <li><b>Deadline for submitting final versions:</b> May XX, 2023, 11:59 p.m. (AOE)</li>
                            <li><b>Workshop day:</b> June 02, 2023</li>
                        </ul>

                        <h4>Topics of interest</h4>

                        The topics of interest for the workshop include, but are not limited to, the following:
                        <ul>
                            <li>Robot failure modelling approaches</li>
                            <li>Techniques for robot execution monitoring, avoidance, and recovery</li>
                            <li>Approaches for preventing and handling failure propagation, particularly in mobile manipulation</li>
                            <li>Approaches for robot fault diagnosis</li>
                            <li>Causal learning for failure understanding</li>
                            <li>Failure-aware learning</li>
                            <li>Failure explainability</li>
                            <li>Failure management in human-robot collaboration</li>
                            <li>Datasets that include execution and/or interaction failures</li>
                            <li>Robot verification and/or testing approaches that consider failure scenarios</li>
                        </ul>

                        <h4>Submission guidelines</h4>

                        Submissions to the workshop can be either short papers (4 pages) or conference-length papers (6 pages). Submissions describing work in progress that authors would like to discuss with the workshop participants are encouraged and welcome. The workshop does not have official proceedings, but the submitted papers will be posted on the workshop website if the authors agree.
                        <br/><br />

                        Each submitted paper will receive at least two reviews, based on which an acceptance decision will be made. Papers should be submitted via EasyChair. Please note that email submissions will not be accepted.
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
