<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                        An important aspect of autonomous robot behaviour is the ability to recognise failures and take steps to correct those, both during online operation (so that the ongoing activity can be continued) and over long-term deployment (so that failures are not constantly repeated). Failure awareness is important in different contexts: to prevent the propagation of failures in autonomous operation (particularly for mobile manipulators) and thus avoid downtime as much as possible without requiring constant human intervention, to enable a robot to communicate its failures to users and thus be more trustworthy, or to guide learning so that scenarios that lead to failures can be avoided.
                        <br /><br />

                        This workshop provides a forum for discussing robot execution failures, strategies for failure modelling, avoidance, and analysis, as well as techniques for learning from failures. A combination of invited talks, paper presentations, and interactive sessions will provide participants with an opportunity to analyse failure management strategies in different robot applications and to discuss open challenges for dealing with robot execution failures in order to make autonomous robots more reliable and suitable for use in human-centered applications.
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
