<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-lg-10 col-lg-offset-1">
            <h6>Invited talks</h6>

            <p>
                <img src="{{ site.baseurl }}/img/workshop-images/awaad_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/erdem_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/tarapore_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/itkina_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/romeo_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/chakraborti_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/van_waveren_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/steinbauer_wagner_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/das_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/blumenthal_talk.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
            </p>
        </div>
        <br /><br />

        <div class="col-lg-10 col-lg-offset-1">
            <h6>Panel discussion</h6>

            <p>
                <img src="{{ site.baseurl }}/img/workshop-images/panel_discussion1.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/panel_discussion2.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/panel_discussion3.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
            </p>
        </div>
        <br /><br />

        <div class="col-lg-10 col-lg-offset-1">
            <h6>Paper spotlight presentations</h6>

            <p>
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation1.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation2.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation3.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation4.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation5.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation6.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation7.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation8.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation9.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/paper_presentation10.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
            </p>
        </div>
        <br /><br />

        <div class="col-lg-10 col-lg-offset-1">
            <h6>Group photos</h6>

            <p>
                <img src="{{ site.baseurl }}/img/workshop-images/participants1.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/participants2.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/participants3.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
                <img src="{{ site.baseurl }}/img/workshop-images/group_photo_end.jpg" alt="" width="30%" style="float: left; padding: 5px;" />
            </p>
        </div>
    </div>
</section>
